---
import { Picture } from "astro:assets"
import Link from "@components/ui/link.astro"
import UbicuLogoLanding from "assets/UbicuLogoLanding.png"
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <iframe
      width="520"
      height="361"
      src="https://www.youtube.com/embed/7bGJ4g9P5Gg?si=lfDb_vxGtein22Nn"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
  <div>
    <a href="/" class="flex flex-col justify-center items-center">
      <div class="max-w-[300px]">
        <Picture
          src={UbicuLogoLanding}
          alt="Astronaut in the air"
          widths={[400]}
          loading="eager"
          format="avif"
        />
      </div>
    </a>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      UBICU es un producto de apoyo para la fisioterapia respiratoria con
      incentivo. UBICU permite al paciente realizar sus ejercicios respiratorios
      de una manera entretenida con un videojuego desde la comodidad de su hogar
      con supervisión remota. UBICU brinda al fisioterapeuta una plataforma en
      la nube para ampliar el servicio de fisioterapia respiratoria e
      información cuantitativa del desempeño de los pacientes.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        href="/contact"
        class="bg-primary border-primary text-white flex gap-1 items-center justify-center"
        rel="noopener">
        <span> Contacta con nosotros </span>
      </Link>
    </div>
  </div>
</main>
