---
import { Picture } from "@astrojs/image/components";
import systemImage from "assets/system.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <Picture
      src={systemImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-primary text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Ubicu: sistema incentivo respiratorio
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      El proyecto incentivo respiratorio busca desarrollar un producto tecnológico, 
      hardware y software, que apoye la recuperación de la función pulmonar.
      <wbr /> Nuestro sistema favorece una recuperación ágil para retornar a la vida laboral y productiva.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        class="bg-white border-primary text-primary flex gap-1 items-center justify-center"
        rel="noopener">
          <span class="text-primary"> Contacta con nosotros </span>
      </Link>
    </div>
  </div>
</main>
